html {
    height: 100vh;
    background-color: var(--grey-5);
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-row-gap: var(--spacing-l);
    margin: var(--spacing-l);
}

.row-title {
    color: var(--grey-3);
    font-weight: var(--font-weight-500);
    text-transform: uppercase;
    user-select: none;
}
