.radio {
    display: inline-flex;
    cursor: pointer;
    position: relative;
    user-select: none;
}

.radio__input {
    position: absolute;
    outline: none;
    clip-path: polygon(0px 0px, 0px 0px);
}

.radio__inner {
    display: flex;
    align-items: center;
    gap: 12px;
}

.radio__circle {
    width: 28px;
    height: 28px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
}

.radio__select-mark {
    display: none;
    background-color: var(--blue-1);
    width: 18px;
    height: 18px;
    border-radius: 14px;
}

.radio__label {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}

.radio__input:checked + .radio__inner .radio__circle {
    border-color: var(--blue-1);
}

.radio__input:checked + .radio__inner .radio__select-mark {
    display: block;
}

.radio__input:focus + .radio__inner .radio__label {
    text-decoration: underline;
}

.radio__input:disabled + .radio__inner .radio__label {
    color: var(--grey-2);
}

.radio__input:disabled + .radio__inner .radio__circle {
    background: var(--grey-2);
    border-color: var(--grey-2);
}
