.text-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: 'Inter', sans-serif;
    position: relative;
}

.text-input__label {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
}

.text-input__input {
    background: var(--white);
    border: 1px solid var(--grey-2);
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(51, 154, 240, 0.1);
    border-radius: 8px;
    padding: 17px 16px 13px 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--grey-4);
    width: 100%;
}

.text-input__input::placeholder {
    color: var(--grey-2);
}

.text-input__input::-ms-input-placeholder {
    color: var(--grey-2);
}

.text-input__input:focus {
    border-color: var(--blue-1);
    outline: none;
}

.text-input__status-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 0;
    bottom: 50%;
    transform: translateY(50%) translateX(-16px);
    display: none;
}

.text-input__wrapper {
    position: relative;
}

.text-input_success .text-input__status-icon {
    display: block;
}

.text-input_error .text-input__status-icon {
    display: block;
}

.text-input_error .text-input__input, .text-input_error .text-input__input:focus {
    border-color: var(--red);
}

.text-input.text-input_success .text-input__input, .text-input.text-input_error .text-input__input {
    padding-right: 40px;
}

.text-input_disabled .text-input__input::placeholder {
    color: transparent;
}

.text-input_disabled .text-input__input {
    background-color: var(--grey-2);
}
